.page {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  font-family: "Inter", "Arial", sans-serif;
  padding: 0;
  max-width: 880px;
}

@media screen and (max-width: 768px) {
  .page {
    min-width: 100%;
  }
}
