.new-place-popup__add-button {
  width: 238px;
  height: 46px;
  display: flex;
  border-radius: 2px;
  background-color: black;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin: 58px auto 25px auto;
  border: none;
  align-items: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .new-place-popup__add-button {
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    margin: 61px auto 37px auto;
  }
}

.new-place-popup__add-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
