.profile__description-text {
  max-width: 470px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  margin: 0 0 15px 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: left;
  justify-content: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__description-text {
    font-size: 14px;
    justify-content: center;
    max-width: 270px;
    margin: 0 auto 0 auto;
    line-height: 17px;
    text-align: center;
  }
}
