.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  margin: 45px auto 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  padding-bottom: 41px;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px auto 0 auto;
    padding-bottom: 32px;
  }
}
